body,html
{
    height: 100%;
    background: #1a1e23;
    color: aqua;
}


#header
{
    background-image: url("WhatsApp Image 2023-03-22 at 23.58.40.jpeg");
    background-size: cover;
    height:100%;
    display:flex;
    align-items:center;
}

.container
{
    padding:30px;
    color: darkgreen;
}

.navbar
{
    opacity: 1;
}
.navbar .navbar-nav .nav-link
{
    color:#7B241C;
}
.navbar .navbar-nav .nav-link:hover
{
    color:#fff;
}
.navbar-toggler-icon
{
    color:orange;
}
