body,html
{
    height: 100%;
    background: #1a1e23;
    color: aqua;
}


#header
{
    background-image: url("Images/WhatsApp\ Image\ 2023-03-22\ at\ 23.58.40.jpeg");
    background-size: cover;
    height:100%;
    display:flex;
    align-items:center;
}

.container
{
    padding:30px;
    color: darkgreen;
    font-family: cursive;

}
.container a{
    color: #ffffff;
    size: 4px;
    background-color: #165976;
    font-size: 25px;
    border-radius: 1.5pc;
    font-style:italic;

}
.container a:hover{
    color: #0a0852;
    background-color: #7cc930;
    cursor: pointer;
}

#features h2{
    color: #ffffff;
}
#demo h2{
    color: #ffffff;
}
#helpline h2{
    color: #ffffff;
}
.navbar
{
    opacity: 1;
    background-color:#e6cdca;
    box-shadow: #231716;
    height: 70px;
   
}
.navbar a{
    color:#0a0852;
    font-size: 3pc;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
.navbar .navbar-nav .nav-link
{
    color:#7B241C;
    font-weight: 700;
    font-size: large;
}
.navbar .navbar-nav .nav-link:hover
{
    color:#000000;
}
.navbar-toggler-icon
{
    color:orange;
}

